* {
    margin: 0;
    padding: 0;
    text-align: center;
    flex-wrap: wrap;
}
h1 {
    background-color: #004F2D;
    color: #BFD7EA;
    height: 5rem;
    line-height: 5rem;
}
.choice {
    height: 165px;
    width: 165px;
}
.choice:hover {
    cursor:grab;
    background-color: #004F2D;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 25px;
    gap: 3rem;
}
.score-board {
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 3rem;
    font-size: 2rem;
    gap: 5rem;
}
#user-score , #comp-score {
    font-size: 4rem;
}
.mssg-container {
    margin-top: 5rem;
}
#mssg {
    background-color: #004F2D;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
footer {
    height: 5rem;
    background-color: #004F2D;
    color: #BFD7EA;
    margin-top: 2rem;
    line-height: 5rem;
}
